// the map
.wp-block-vsge-mapbox .map-wrapper {
  display: flex;
  overflow: hidden;
  gap: 24px;
  min-height: 400px;
  width: 100%;
  max-height: 80vh;

  @media (max-width : 600px) {
    gap: 0;
    width: 200%;
    transform: translateX(-50%);
  }

	.map {
		flex-grow: 1;
    height: 100%;
	}

	.map-container {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: .5rem;

    @media (max-width : 600px) {
      width: 100vw;
    }

    .mapboxgl-canvas {
      bottom: 0;
    }

		.mapboxgl-popup-content {
			max-width: 280px;
			@media (max-width : 600px) {
				width: 100%;
				max-width: 100%;
				min-width: inherit;
			}
		}

		.mapboxgl-popup-anchor-top {
			& > .mapboxgl-popup-tip {
				border-bottom-color: #fff;
			}
		}
	}
}
