/* Marker tweaks */
.wp-block-vsge-mapbox .map-wrapper {
	.map .mapboxgl-popup {
		padding-bottom: 50px;

		&-close-button {
			// display:none;
			margin: 0;
			background-color: transparent;
			color: var(--color__gray-800);
			border: 0 !important;
			min-width: 32px;
			font-size: 28px;
			padding: 0;
		}

		&-content {
			font-weight: 400;
			padding: 1rem 1.3rem;
			min-width: 280px;
			line-height: var(--text__line-height-headline);

			img.gray-marker {
				position: absolute;
				left: 24px;
			}
		}

    .mapbox-popup-inner {
      gap: 1rem
    }

		&-anchor-bottom .mapboxgl-popup-tip {
			filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
		}

    a {
      text-decoration: inherit;
    }

		h3 {
			font-weight: 600;
			font-size: 16px;
      margin: 0;
      color: var(--wp--preset--color--primary);
		}

		h4 {
			font-size: 14px;
		}

		h4,
		p {
			color: #9b9b9b;
			margin: 0;
		}

		p {
			font-size: 13px;
		}
	}
}
