.wp-block-vsge-mapbox .map-wrapper {
	.map-sidebar {
		min-width: 300px;
		overflow: hidden;
		padding-right: var(--size__margin);

		display: flex;
		flex-direction: column;

		@media #{$mq__phablet} {
      width: 100vw;
		}

		p {
			margin: 0;
			padding: 0;
		}

    .sidebar-filter-list {
      font-size: 0.6rem;
      text-transform: uppercase;
      font-weight: 700;
    }

		.feature-listing {
			overflow: auto;

			@media #{$mq__phablet} {
				padding-bottom: var(--wp--preset--spacing--30);
				display: block;
				max-height: 80vh;
			}

			&.filtered {
				.map-item {
					display: none;
				}

				.map-item.active-store {
					display: block;
				}
			}
		}

    ::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      -webkit-border-radius: 4px;
      background: #ddd;
    }

    ::-webkit-scrollbar-thumb {
      background: #aaa;
      -webkit-border-radius: 4px;
      -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25) inset;
    }

    ::-webkit-scrollbar-corner {
      background: #ddd;
    }
	}
}
