.block-editor-block-inspector {
  .dnd-wrap {
    padding: 0.25rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 0 6px;

    h4 {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    input {
      margin: 0;
    }

    .controlgroup-feature-item {
      display: grid;
      margin: 0 0 4px;
      width: 100%;
      grid-template-columns: 1fr auto auto;
      white-space: nowrap;
      line-height: 20px;

      button {
        cursor: pointer;
        background: transparent;
        border: 0;
      }
    }

    .sortable-pins-checkbox {
      display: flex;
      label {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .sortable-listings {
    .dnd-wrap {
      height: 36px;
      overflow: hidden;

      &.is-open {
        height: auto;
      }
    }
  }

  .marker-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    .color-preview {
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      display: inline-block;
      margin-right: 10px;
      background-color: #666;
    }
  }

  .sortable-tags,
  .sortable-filters {
    .dnd-wrap {
      display: grid;
      grid-template-columns: 1fr auto auto;
      line-height: 1;
      justify-content: space-between;

      .components-base-control {
        margin: 0;
        padding: 0;
      }
    }
  }
}
