.wp-block-vsge-mapbox .map-wrapper {

	.map-topbar {
		height: $topbar-height;
		padding-bottom: .25rem;
		display: flex;
		justify-content: flex-end;
		align-content: center;

		button,
		.components-base-control {
			margin: 0 var(--wp--preset--spacing--40);
			max-width: 250px;
			height: $topbar_elements_height;
		}

		.components-select-control select {
			height: $topbar_elements_height;
			font-family: var(--font__family);
			font-weight: 500;
			text-overflow: ellipsis;
		}

    .components-input-control__backdrop {
      border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
    }

		button {
      background: var(--wp--preset--color--white);
			border: 1px solid var(--wp--preset--color--cyan-bluish-gray);

			&:focus,
			&:hover {
				filter: inherit !important;
				border-color: var(--wp--preset--color--gray);
			}

			&:active {
				border-color: var(--wp--preset--color--cyan-bluish-gray);
			}

			svg {
				vertical-align: sub;
				line-height: $topbar_elements_height;
        margin-right: .5rem;
			}
		}

		> *:last-child {
			margin-right: 0;
		}
	}
}
