.wp-block-vsge-mapbox .map-wrapper {

	.map-topbar {
		height: var(--mabox-topbar-height);
		display: flex;
		justify-content: flex-end;
		align-content: center;

		&-hidden {
			display: none;
		}

		button,
		.components-base-control {
			margin: 0 0.5rem;
			max-width: 250px;
			height: var(--mabox-topbar-height);
		}

		.components-select-control select {
			height: var(--mabox-topbar-height);
			font-family: var(--font__family);
			font-weight: 500;
			text-overflow: ellipsis;
		}

		.components-input-control__backdrop {
			border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		}

		button {
			background: var(--wp--preset--color--white);
			border: 1px solid var(--wp--preset--color--cyan-bluish-gray);

			&:focus,
			&:hover {
				filter: inherit !important;
				border-color: var(--wp--preset--color--gray);
			}

			&:active {
				border-color: var(--wp--preset--color--cyan-bluish-gray);
			}

			svg {
				vertical-align: sub;
				line-height: var(--mabox-topbar-height);
				margin-right: 0.5rem;
			}
		}

		> *:last-child {
			margin-right: 0;
		}
	}
}
