.wp-block-vsge-mapbox .map-wrapper {
	.map-topbar {
		height: var(--mabox-topbar-height);
		display: flex;
		justify-content: flex-end;
		align-content: center;
		margin-left: auto;
		white-space: pre;

		&-hidden {
			display: none;
		}

		button,
		.components-base-control {
			margin: 0 0.5rem;
			max-width: 250px;
			height: var(--mabox-topbar-height);
		}

		.components {
			&-select-control {
				height: var(--mabox-topbar-height);
				min-width: 120px;
				font-size: var(--wp--preset--font-size--normal);
				font-family: var(--mapbox--font-family);
				border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
				font-weight: 500;
				text-overflow: ellipsis;
				margin: 0 0.25rem;
				padding: 0 0.5rem;
			}

			&-input-control__backdrop {
				border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
			}
		}

		button {
			font-size: var(--wp--preset--font-size--normal);
			font-family: var(--mapbox--font-family);
			background: var(--wp--preset--color--white);
			border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
			padding: 0 0.5rem;

			&:focus,
			&:hover {
				filter: inherit !important;
				border-color: var(--wp--preset--color--gray);
			}

			&:active {
				border-color: var(--wp--preset--color--cyan-bluish-gray);
			}

			svg {
				vertical-align: sub;
				line-height: var(--mabox-topbar-height);
				margin-right: 0.5rem;
			}
		}

		> *:last-child {
			margin-right: 0;
		}
	}
}
