.wp-block-vsge-mapbox .map-wrapper {
	.geocoder {
		height: var(--mabox-topbar-height);
		padding-bottom: 8px;
	}

	.mapboxgl-ctrl-geocoder {
		width: 100%;
		max-width: inherit;
		box-shadow: inherit;
		border-radius: 0;

		input {
      max-width: calc(100% - 6px);
      font-family: var(--mapbox--font-family);
			border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
			height: var(--mabox-topbar-height);
			padding: 6px var(--wp--preset--spacing--40) 6px 48px;

			@media (max-width: 600px) {
				font-size: 0.25rem;
			}
		}

		> div {
			min-width: 100%;
			margin-left: 0;
		}

		&--icon-search {
			right: 12px;
			width: 24px;
			height: 24px;
      top: 8px;

			@media (max-width: 600px) {
				left: 8px;
			}
		}

		&--suggestion-title {
		}

		&--suggestion-address {
			font-weight: 300;
			font-size: 0.9em;
		}

		&--pin-right {
			min-width: inherit;

			& > * {
				min-width: 30px;
				right: 0;
				margin: 0;
				background-color: transparent;
				color: var(--wp--preset--color--gray);

				@media (max-width: 600px) {
					top: 2px;
				}
			}
		}
	}
}
