/* Marker tweaks */
.wp-block-vsge-mapbox .map-wrapper {
  .map .mapboxgl-popup {
    padding-bottom: 50px;

    &-close-button {
      // display:none;
      margin: 0;
      background-color: transparent;
      color: var(--color__gray-800);
      border: 0 !important;
      min-width: 32px;
      font-size: 28px;
      padding: 0;
    }

    &-content {
      font-weight: 400;
      padding: 1rem 1.5rem 1rem 1rem;
      width: 100%;
      line-height: var(--text__line-height-headline);

      img.gray-marker {
        position: absolute;
        left: 24px;
      }
    }

    .mapbox-popup-inner {
      gap: 1rem;
      max-width: 280px;
      padding-right: 2rem;
      width: 100%;

      &.mapbox-popup-search {
        flex-direction: column;
        text-align: center;
        margin: auto;
        min-width: inherit;

        svg {
          margin: auto;
          width: 100%;
          height: 100%;
        }
      }

      &.mapbox-popup-newpin button {
        background: #174b85;
        color: white;
        padding: 8px 10px;
        border: none;
        margin: 0 4px 0 0;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
      }
    }

    &-anchor-bottom .mapboxgl-popup-tip {
      filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    }

    a {
      text-decoration: inherit;
    }

    h3 {
      color: #484848;
      font-weight: 600;
      font-size: 16px;
      margin: 0 0 6px;
    }

    h4 {
      font-size: 14px;
      margin: 0 0 6px;
    }

    p {
      color: #9b9b9b;
      font-size: 13px;
      margin: 0 0 2px;
    }
  }
}
