.wp-block-vsge-mapbox .map-wrapper {

	.mapboxgl-marker {
		appearance: none;
		background-color: transparent;
		border: 0;
	}

	.marker {
		border: none;
		cursor: pointer;
		padding: 0;
		transition: inherit;

		&.active {
			transition: 125ms;
			transform: scale(1.2);
			transform-origin: bottom center;
		}
	}
}
