.block-editor-block-inspector {

	.dnd-wrap {
		padding: 0.25rem;
		background: var(--mapbox--color--white);
		border: 1px solid #ccc;
		border-radius: 2px;
		margin: 0 0 6px;

		h4 {
			margin: 0;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		input {
			margin: 0;
		}

		.controlgroup-feature-item {
			display: grid;
			margin: 0 0 4px;
			width: 100%;
			grid-template-columns: 1fr auto auto;
			white-space: nowrap;
			line-height: 20px;

			button {
				cursor: pointer;
				background: transparent;
				border: 0;
			}
		}

		.sortable-pins-column {
			width: 50%;
			align-self: flex-start;

			&__title {
				text-overflow: ellipsis;
				overflow: hidden;
				margin-bottom: 8px;
			}

			hr {
				margin: 0 0 8px;
			}
		}

		.sortable-pins-checkbox {
			display: flex;
			margin-bottom: 4px;

			label {
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	.marker-preview {
		width: 24px;
		height: 24px;
	}

	.icon-item {
		display: flex;
		height: 96px;

		.icon-item-preview {
			width: 96px;
			height: 96px;
			object-fit: contain;
		}
	}

	.sortable-listings {

		.dnd-wrap {
			height: 36px;
			overflow: hidden;

			&.is-open {
				height: auto;
			}
		}
	}

	/**
   * the panel to edit the marker icon
   */
	.marker-icon-item {
		display: flex;
		align-content: flex-start;
		justify-content: left;

		&__preview {
			position: relative;

			.svg-wrapper {
				width: 64px;
				min-width: 64px;
				padding: 8px;
				margin: 4px 12px 4px 0;
				border: 1px solid #ddd;
				height: 64px;
				display: flex;
				border-radius: 8px;
			}
		}

		.remove-sortable-item {
			position: absolute;
			top: 0;
			right: 6px;
			padding: 0;
			min-width: 24px;

			.components-button.has-icon {
				width: 24px;
				height: 24px;
			}
		}

		.components-base-control {
			margin-bottom: 8px;
		}
	}

	.marker-button {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;

		.color-preview {
			width: 20px;
			height: 20px;
			border: 1px solid var(--mapbox--color--gray-light);
			display: inline-block;
			margin-right: 10px;
			background-color: var(--mapbox--color--gray-dark);
		}
	}

	// the sortable listings column
	.sortable-listings {

		.components-base-control {
			margin-bottom: 12px;
		}
	}

	.sortable-tags,
	.sortable-filters {

		.dnd-wrap {
			display: grid;
			grid-template-columns: 1fr auto auto;
			line-height: 1;
			justify-content: space-between;

			.components-base-control {
				margin: 0;
				padding: 0;
			}
		}
	}
}
