$topbar-height: 48px;
$topbar_elements_height: $topbar-height;

$size__margin: 8px;

$mq__phablet: "(max-width : 600px)";

.map-wrapper {
  display: flex;
  gap: var(--wp--preset--spacing--40);
  min-height: 400px;
  max-height: 80vh;
  padding-top: var(--wp--preset--spacing--50, 8px);

  @media #{$mq__phablet} {
    flex-direction: column-reverse;
    height: auto;
  }

  .map-sidebar {
    min-width:300px;
    overflow:hidden;
    padding-right: var(--size__margin);

    display: flex;
    flex-direction: column;

    @media #{$mq__phablet} {
      width: 100%;
    }

    p {
      margin: 0;
      line-height: 1.5;
      padding: 0 0 8px;
    }

    .mapboxgl-ctrl-geocoder {
      width: 100%;
      height: $topbar-height;

      input {
        border: 0;
        max-width: calc(100% - 6px);
        border-bottom: 1px solid var(--wp--preset--color--gray-light);
        height: $topbar_elements_height;
        padding: 6px var(--wp--preset--spacing--40) 6px 48px;
        font-family: var(--font__family);
        font-weight: 300;

        @media #{$mq__phablet} {
          font-size: var(--wp--preset--spacing--20);
        }
      }

      & > div {
        min-width: 100%;
        margin-left: 0;
      }

      &--icon-search {
        right: 12px;
        width: 24px;
        height: 24px;
        top: 12px;
        @media #{$mq__phablet} {
          left: 8px;
        }
      }
      &--suggestion-title {}
      &--suggestion-address {
        font-weight: 300;
        font-size: .9em;
      }

      &--pin-right {
        min-width: inherit;
        & > * {
          min-width: 30px;
          right: 0;
          margin: 0;
          background-color: transparent;
          color: var(--wp--preset--color--gray);
          @media #{$mq__phablet} {
            top: 2px;
          }
        }
      }

    }

    .feature-listing {
      overflow:auto;

      @media #{$mq__phablet} {
        padding-bottom:var(--size__padding-half);
        display: block;
        max-height: 80vh;
      }

      &.filtered {
        .map-item {
          display: none;
        }
        .map-item.active-store {
          display: block;
        }
      }

      .map-item {
        display: block;
        position: relative;
        border-bottom: 1px solid #eee;
        padding: 16px 16px 16px 48px;
        margin: 0 0 var(--wp--preset--spacing--40);
        border-radius: 2px;
        background: #f3f3f3;
        text-decoration: none;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        .title {
          display: block;
          color: #484848;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.1;
          margin-bottom: 10px;
          transition: .3s;
          small {
            font-weight: 400;
          }
        }

        img.gray-marker {
          position: absolute;
          left: 12px;
          top: 18px;
        }

        p.partnership {
          line-height: 15px;
          margin: 0;
          font-size: 11px;
          text-transform: uppercase;
          color: #757575;
        }

        p,
        a {
          line-height: 18px;
          margin: 0;
          font-size: 14px;
          color: #757575;
        }

        &.active-store .title,
        .title:hover {
          color: #3f51b5;
        }

        &.active-store {
          background-color: #f3f3f3;
        }

      }
    }
  }

  .map-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);

    .mapboxgl-popup-content {
      max-width: 280px;
      @media #{$mq__phablet} {
        width: 100%;
        max-width: 100%;
        min-width: inherit;
      }
    }

    .mapboxgl-popup-anchor-top {
      & > .mapboxgl-popup-tip {border-bottom-color: #fff;}
    }

    @media #{$mq__phablet} {
      height: 60vh;
      width:100%;
      padding-bottom: var(--wp--preset--spacing--40);
    }
  }

  #map-topbar {
    height: $topbar-height;
    padding-bottom: var(--wp--preset--spacing--3);
    display: flex;
    justify-content: flex-end;
    align-content: center;

    button,
    select{
      margin: 0 var(--wp--preset--spacing--40) 0 0;
      max-width: 250px;
    }

    select {
      height: $topbar_elements_height;
      padding-top: var(--wp--preset--spacing--40);
      padding-bottom: var(--wp--preset--spacing--40);
      padding-right: var(--wp--preset--spacing--40);
      padding-left: var(--wp--preset--spacing--40);
      font-family: var(--font__family);
      font-weight: 500;
      text-overflow: ellipsis;
    }

    button.outlined  {
      min-width: 60px;
      height: $topbar_elements_height;
      background-color: white;
      border: 1px solid var(--color__gray-400);
      border-radius: 4px;
      padding: 0;

      &:focus,
      &:hover {
        filter: inherit !important;
        border: 1px solid var(--color__gray-200);
      }

      &:active {
        border: 1px solid var(--wp--preset--color--gray);
      }

      i {
        color: var(--color__black);
        line-height: $topbar_elements_height;
      }
    }

    & > *:last-child {
      margin-right: 0;
    }
  }


  // the map
  .map {
    height: 100%;
    flex-grow: 1;

    .marker {
      border: none;
      cursor: pointer;
      height: 56px;
      width: 56px;
      background-image: url('../images/marker.webp');
      background-color: rgba(var(--color__black_decimal), 0);

      &#marker-geocoder {
        filter: grayscale(1);
      }
    }

    /* Marker tweaks */
    .mapboxgl-popup {
      padding-bottom: 50px;
      &-close-button {
        // display:none;
        margin: 0;
        background-color: transparent;
        color: var(--color__gray-800);
        border: 0 !important;
        min-width: 32px;
        font-size: 28px;
        padding: 0;
      }
      &-content {
        font:400 15px/22px 'Klavika', 'Helvetica Neue', Sans-serif;
        padding: 16px 16px 10px 64px;
        min-width: 280px;
        line-height: var(--text__line-height-headline);

        img.gray-marker {
          position: absolute;
          left: 24px;
        }
      }
      &-anchor-bottom .mapboxgl-popup-tip {
        filter: drop-shadow(0 3px 2px rgba(0,0,0,0.1));
      }
      h3 {
        margin: 0 0 4px;
        font-weight:600;
        font-size: 15px;
      }
      h4 {
        font-size: 14px;
      }

      h4,
      p{
        color: #9b9b9b;
        margin:0;
      }

      p {
        font-size: 13px;
      }
    }
  }

  // TAGS

  .tags {
    margin-top: 8px;
    line-height: var(--text__line-height-headline);

    span.tag {
      margin: 0 var(--wp--preset--spacing--40) 0 0;
      display: inline-block;
      white-space: nowrap;
      font-size: 9px;
      line-height: 10px;
      text-transform: uppercase;
      color: #888;

      &:before {
        content: "+";
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 10px;
        margin-right: 2px;
        opacity: .8;
        &:hover {opacity: 1;}
      }
    }
  }
}
