/* backend */
.map-wrapper.alignwide {
  min-height: 600px;
}

/** the drag and drop component */
.block-editor-block-inspector {

  .dnd-wrap {
    padding: .25rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 0 6px;

    .components-base-control__field, h4 {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span, button {
      margin: 0;
      padding: 0;
      min-width: 32px;
      align-self: center;
    }

    input {
      margin: 0;
    }

    .controlgroup-feature-item {
      display: grid;
      margin: 0;
      width: 100%;
      grid-template-columns: 1fr auto auto;
      button {
        cursor: pointer;
        background: transparent;
        border: 0;
      }
    }
  }

  .sortable-tags,
  .sortable-filters {
    .dnd-wrap {
      display: grid;
      grid-template-columns: 1fr auto auto;
      line-height: 1;
      justify-content: space-between;

      .components-base-control {
        margin: 0;
        padding: 0;
      }
    }
  }

  .sortable-listings {

    .dnd-wrap {
      height: 36px;
      overflow: hidden;

      &.is-open {
        height: auto;
      }

      .components-base-control, span, button {
        margin: 0 0 .15rem;
        padding: 0;
      }

      .components-checkbox-control__input-container {
        margin: 0 .25rem 0;
      }
    }
  }

}
