.wp-block-vsge-mapbox .map-wrapper {
	.map-sidebar {
		width: var(--mabox-sidebar-width);
		max-width: var(--mabox-sidebar-width);
		overflow: hidden;
		padding-right: var(--size__margin);

		display: flex;
		flex-direction: column;

		@media (max-width: 600px) {
			max-width: 100vw;
		}

		p {
			margin: 0;
			padding: 0;
		}

		.feature-listing {
			overflow: auto;

			@media (max-width: 600px) {
				padding-bottom: var(--wp--preset--spacing--30);
				display: block;
				max-height: 80vh;
			}

			&.filtered {
				.map-item {
					display: none;
				}

				.map-item.active-store {
					display: block;
				}
			}
		}

		::-webkit-scrollbar {
			height: 8px;
			width: 8px;
			-webkit-border-radius: 4px;
			background: var(--mapbox--color--gray-light);
		}

		::-webkit-scrollbar-thumb {
			background: var(--mapbox--color--gray-light);
			-webkit-border-radius: 4px;
			-webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25) inset;
		}

		::-webkit-scrollbar-corner {
			background: var(--mapbox--color--gray-light);
		}
	}
}
