.wp-block-vsge-mapbox .map-wrapper {
	.map-sidebar {
		width: var(--mabox-sidebar-width);
		max-width: var(--mabox-sidebar-width);
		overflow: hidden;
		padding-right: var(--size__margin);

		display: flex;
		flex-direction: column;

		@media (max-width: 600px) {
      max-height: 20vh;
      width: 100%;
      max-width: inherit;
		}

		p {
			margin: 0;
			padding: 0;
		}

		.feature-listing {
			overflow: auto;

			@media (max-width: 600px) {
				padding-bottom: var(--wp--preset--spacing--30);
				display: block;
				max-height: 100vh;
        padding-left: var(--size__margin);
        padding-right: var(--size__margin);
			}

			&.filtered {
				.map-item {
					display: none;
				}

				.map-item.active-store {
					display: block;
				}
			}
		}

		::-webkit-scrollbar {
			height: 8px;
			width: 8px;
			-webkit-border-radius: 4px;
			background: var(--mapbox--color--gray-light);
		}

		::-webkit-scrollbar-thumb {
			background: var(--mapbox--color--gray-light);
			-webkit-border-radius: 4px;
			-webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.25) inset;
		}

		::-webkit-scrollbar-corner {
			background: var(--mapbox--color--gray-light);
		}
	}

	/**
   * Mapbox Sidebar Listing
   */
	.mapbox-sidebar-feature {
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid var(--mapbox--color--gray-200);
		padding: 1.3rem 1rem;
		margin: 0 4px 4px 0;
		border-radius: 4px;
		background: var(--mapbox--color--gray-100);
		text-decoration: none;

		&__inner {
			display: flex;
			gap: 0.5rem;
		}

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}

		.title {
			display: block;
			color: var(--mapbox--color--gray-dark);
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.2;
			margin: 0 0 0.5rem;
			transition: 0.3s;

			small {
				font-weight: 400;
			}
		}

		svg {
			align-self: flex-start;
			min-width: 32px;
		}

		p.partnership {
			line-height: 15px;
			margin: 0;
			font-size: 11px;
			text-transform: uppercase;
			color: var(--mapbox--color--gray-dark);
		}

		p,
		a {
			line-height: 18px;
			margin: 0;
			font-size: 0.75rem;
			color: var(--mapbox--color--gray-dark);
		}

		&.active-store .title,
		.title:hover {
			color: var(--mapbox--color--primary-accent);
		}

		&.active-store {
			background-color: var(--mapbox--color--gray-100);
		}
	}
}
